/* BODY STYLING */
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    animation: ease-in-out;
    transition: 500ms;
}
/* END BODY STYLING */